In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('output.csv')

df

,Step,Point,Position X,Position Y,Position Z,Velocity X,Velocity Y,Velocity Z
0,1,0,0.337973,-0.105084,0.286995,-0.221472,0.053303,0.389545
1,1,1,0.302135,0.412624,-0.299935,0.369515,0.097665,0.251345
2,1,2,-0.167706,0.269124,-0.226762,-0.292834,0.089423,-0.453662
3,1,3,0.052073,-0.026074,0.131899,-0.189740,-0.347078,0.302776
4,2,0,0.334894,-0.104163,0.290259,-0.307893,0.092122,0.326394
...,...,...,...,...,...,...,...,...
395,99,3,-21.351500,23.276700,12.614100,-25.914000,28.114400,14.926100
396,100,0,21.399700,-23.174200,-12.647200,25.293400,-27.522800,-15.324900
397,100,1,-0.511973,-0.069544,-0.546737,-1.085630,-0.505109,-0.832931
398,100,2,0.916190,0.130850,0.807853,1.371750,-0.193192,1.721730
399,100,3,-21.610600,23.557900,12.763400,-25.914000,28.114400,14.926100

In [2]:
df.drop(['Velocity X', 'Velocity Y', 'Velocity Z'], axis=1, inplace=True)
df

     Step  Point  Position X  Position Y  Position Z
0       1      0    0.337973   -0.105084    0.286995
1       1      1    0.302135    0.412624   -0.299935
2       1      2   -0.167706    0.269124   -0.226762
3       1      3    0.052073   -0.026074    0.131899
4       2      0    0.334894   -0.104163    0.290259
..    ...    ...         ...         ...         ...
395    99      3  -21.351500   23.276700   12.614100
396   100      0   21.399700  -23.174200  -12.647200
397   100      1   -0.511973   -0.069544   -0.546737
398   100      2    0.916190    0.130850    0.807853
399   100      3  -21.610600   23.557900   12.763400

[400 rows x 5 columns]

In [3]:
count_dots = 4
count_steps = 50

In [26]:
coords_tuple = (0, count_dots - 1)
for i in range(count_steps):
    sdf = df.drop(["Step", "Point"], axis=1).loc[coords_tuple[0] + count_dots * i: coords_tuple[1] + count_dots * i]
    x = sdf["Position X"]
    y = sdf["Position Y"]
    z = sdf["Position Z"]
    # Creating figure
    fig = plt.figure(figsize = (10, 7))
    ax = plt.axes(projection ="3d")
    ax.set_xlim(-2, 7)  # x-axis limits
    ax.set_ylim(-4, 4)  # y-axis limits
    ax.set_zlim(-6, 6)  # z-axis limits
    
    # Creating plot
    ax.scatter3D(x, y, z, color = "blue", s=25)
    # plt.title("simple 3D scatter plot")
    # out_img = sns.scatterplot()
    scatter_fig = fig.get_figure()
 
    # use savefig function to save the plot and give
    # a desired name to the plot.
    scatter_fig.savefig(f'img/scatterplot_{i}.png')
    
    # plt.clf()
    plt.close()

In [27]:
import os
from PIL import Image

# Папка, где сохранены изображения
image_folder = 'img'

# Получение списка изображений
images = []
for i in range(count_steps):
    image_path = f'{image_folder}/scatterplot_{i}.png'
    images.append(Image.open(image_path))

# Создание GIF анимации
images[0].save(f'scatter_animation_{count_steps}.gif', save_all=True, append_images=images[1:], optimize=False, duration=100, loop=0)